/* styles.css */

body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f8f8;
    font-family: Poppins, sans-serif;
}

.menu {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: -10%;
}

.menu ul {
    position: relative;
}

.menu ul li {
    list-style: none;
    margin-top: 5%;
}

.menu ul li a {
    text-decoration: none;
    font-size: 2rem;
    color: #111;
    font-weight: 350;
}

body .menu ul li a:hover {
    color: #ffffff;
}

a {
    text-decoration: none;
}

a:link {
    color: #333;
}

a:visited {
    color: #333;
}

.overlay {
    position: absolute;
    top: 15%;
    right: 25%;
    width: 100%;
    height: 100%;
    mix-blend-mode: overlay;
}

.overlay h1 {
    font-size: 5em;
    color: rgb(246, 246, 246);
}

.explore {
    font-size: 2em;
    color: #000000;
}

/* Header styling */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
}

/* Main content section */
#destinations {
    display: flex;
    overflow-x: scroll;
    padding: 20px;
}

.destination {
    flex: 0 0 auto;
    max-width: 300px;
    background-color: #fff;
    padding: 20px;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.destination img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    width: 300px;
    height: 200px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

.overview-section {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.destination-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Destination images */
.destination-section img {
    max-width: 50%;
    height: auto;
    border-radius: 5px;
}

/* Destination text */
.destination-section .text {
    width: 45%;
}

.destination p {
    line-height: 1.6;
    margin-bottom: 15px;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.social li {
    margin: 0 10px;
    list-style: none;
}


form {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form label {
    display: inline-block;
    margin-right: 15px;
}

form input[type="radio"] {
    display: inline-block;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

form input[type="checkbox"] {
    margin-bottom: 20px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #444;
}

.contact-header {
    padding: 20px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #333;
    color: white;
}